/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font), sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  /* font-weight: var(--font-weiht); */
  font-variation-settings: 'wght' var(--font-weiht);
  background-image: url(../svg/background.svg);
  background-repeat: repeat;
  background-size: 4px;
  /* background-repeat: space; */
  /* background-attachment: fixed; */
}

.header {
  margin-block-start: 102px;
  margin-block-end: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--text-color, #000);
}

.content {
  max-inline-size: 696px;
  margin-left: auto;
  margin-right: auto;
}

.main-tittle {

  margin-block-start: 120px;
  color: var(--text-color, #000);
  font-family: var(--font-accent), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  font-weight: var(--font-weight-accent);
  line-height: normal;
  text-transform: uppercase;

}

.header .description {
  margin-block-start: 20px;
  margin-block-end: 25px;
  font-family: var(--font-accent), sans-serif;
  color: var(--text-color, #000);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu {
  margin-inline-start: 18px;
}

.theme-menu__list {
  color: var(--text-color, #000);
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-block-end: 22px;
  position: relative;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  /* margin-inline-start: 25px; */
  transition: 0.3s ease;
  width: fit-content;
  position: relative;

  padding: 0;
  margin: 0;
}

.theme-menu__button::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  scale: 0;
  transform-origin: 0 0;
}

.theme-menu__button:focus-visible::after {
  animation: focustheme 0.3s ease forwards;
}


@keyframes focustheme {
  0% {
    scale: 0 1;
  }

  100% {
    scale: 1 1;
  }
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: block;
  position: absolute;
  left: -18px;
  animation: activetheme infinite 0.5s ease-in-out alternate;
}

.theme-menu__button:disabled {
  transition: 0.3s ease;
  pointer-events: none;
  opacity: 0.6;
}

@keyframes activetheme {
  0% {
    left: -18px;
  }

  100% {
    left: -14px;
  }
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.card-tittle {
  color: var(--text-color, #000);
  font-family: var(--font);
  font-style: normal;
  font-weight: var(--font-weight-accent);
  line-height: normal;
  background-color: var(--background-color, #fff);
  padding: 4px 12px 4px 12px;
  border: 2px solid var(--text-color, #000);
  font-size: 18px;
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-image: url(../images/car.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 97%;
}

/* @media (375 < width<=696px) {} */

.card-text {
  background-color: var(--background-color, #fff);
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  align-items: flex-start;
  color: var(--text-color, #000);
  font-family: var(--font, ), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border: 2px solid var(--text-color, #000);
}

.card-text p:first-child {
  margin-block-end: 1px;
}

.card__like-button {
  width: 130px;
  height: 38px;
  align-self: flex-end;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: 0.3s ease;
}

.button {
  position: relative;
}

.button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--accent-color);
  scale: 0;
  color: var(--background-color);
  transform-origin: 0 0;
}

.button:hover::before {
  animation: focushover 0.5s ease-in-out forwards;

}

@keyframes focushover {
  0% {
    scale: 0 1;
  }

  100% {
    scale: 1 1;
  }
}

.button:hover .button__text {
  color: var(--background-color);
}

.button:hover {
  color: var(--background-color);
}

@media (width <=375px) {

  .card-text p {
    max-width: 315px;
    align-self: flex-start;
  }
}

.button__text {
  color: var(--text-color, #000);
  font-family: var(--font-accent);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  position: relative;
  z-index: 2;
  transition: 1s ease;
}

.buttons {
  align-self: flex-end;
  display: flex;
  flex-wrap: nowrap;
}

.card__icon-button {
  border: none;
  background-color: var(--background-color);
  width: fit-content;
  height: 36px;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.sparks {
  opacity: 0;
}



.core {
  transition: fill 0.3s 0.05s;
}


.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s;
}


.main-body {
  transition: fill 0.3s 0s;
}


.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.03s;
}


.card__icon-button:active .main-body {
  fill: var(--color-zaliv);
  transition: fill 0.3s 0.03s;

}

.card__icon-button:active .core {
  fill: var(--color-zaliv);
}

.like-icon.is-liked .core {
  fill: var(--color-zaliv);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-zaliv);
  transition: fill 0.3s;
}


.like-icon.is-liked .contour {
  fill: var(--color-zaliv);
  transition: fill 0.3s 0.06;
}

.like-icon.is-liked .heart {
  animation: heartbig 0.3s 0.1s ease-in;
  transform-origin: 50%;
}

@keyframes heartbig {

  0% {
    scale: 1;
  }

  100% {
    scale: 1.5;
  }
}


.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
  transform-origin: 50%;
}

@keyframes sparks {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}


.save-icon {
  position: relative;
  z-index: 2;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 54px 34px 102px 35px;
}

@media (width <696px) {

  .button_save {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 306px;
    height: 80px;
    justify-content: center;
    align-items: center;
  }
}


@media (width >=696px) {

  .button_save {
    flex-direction: row;
    width: 335px;
    height: 51px;
  }


  .main-tittle {
    margin-block-start: 136px;
  }

}