/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --font-weiht: 465;
    --font-weight-accent: 785;
    --main-color: #00CC14;
    --stroke-color: #000000;
    --button-text-color: #00CC14;
    --fon-gradient: repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
    linear-gradient(#007f0c 0.01%, #004306);
  }
}


.theme-dark.page {
  --background-color: #000000;
  --font-weiht: 465;
  --font-weight-accent: 785;
  --main-color: #00CC14;
  /* --fon-pattern: url(../svg/pattern-dark.svg); */
  --fon-gradient: repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
    linear-gradient(#007f0c 0.01%, #004306);
  --stroke-color: #000000;
  --button-text-color: #00CC14;
}

.theme-light.page {
  --main-color: #000000;
  --background-color: #ffffff;
  --font-weiht: 400;
  --font-weight-accent: 700;
  /* --fon-pattern: url(../svg/pattern-light.svg); */
  --fon-gradient: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
  repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
  linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --stroke-color: #FFFFFF;
  --button-text-color: #FFFFFF;
}